@use '../abstracts/variables';

@mixin typography($weight, $size, $height, $spacing: null) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  @if ($spacing) {
    letter-spacing: $spacing;
  }
}

@mixin media-mobile {
  @media (max-width: variables.$mobile-width) {
    @content;
  }
}
