$color-light-xs: #efeff0;
$color-light-s: #d2d4dc;
$color-light-m: #8d9bb8;

$color-dark-xs: #545454;
$color-dark-s: #343636;
$color-dark-m: #252627;

$color-logo-bg: #f0c349;
$color-dark-bg: #214c4e;

$color-text: #f0c349;

$content-width: 1280px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;

$font-logo: 'Barriecito', cursive;
$font-text: 'Roboto', sans-serif;

$font-desktop: 20px;