@use '../../sass//abstracts/mixins';
.slider {
  max-width: 60rem;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    color: #f0c349;
  }
  .prev {
    left: 1rem;
  }
  .next {
    right: 1rem;
  }

  @include mixins.media-tablet {
    height: 40vh;
  }
}

.product__card {
  .slider {
    height: 100%;

    .prev,
    .next {
      color: #c32b1d;
    }
  }
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s linear;

  &_active {
    opacity: 1;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  & button {
    position: absolute;
    top: 2rem;
    left: 3rem;
  }
}
