@use '../abstracts/variables';

.aside {
  align-self: flex-start;

  &_desktop {
    background-color: variables.$color-logo-bg;
    border-radius: 1rem;
    color: variables.$color-dark-m;

    .category {
      font-family: variables.$font-base;
      &_selected {
        color: variables.$color-background;
      }
      & span {
        font-family: variables.$font-base;
      }
    }
  }
}
