.main {
  &__wrap {
    a {
      color: $color-dark-m;
    }
    @include media-tablet {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  .menu-link {
    width: 100%;
  }
}
