@use '../../sass/abstracts/variables';
@use '../../sass/abstracts/mixins';

.card {
  cursor: pointer;

  &:hover {
    background-color: lighten(variables.$color-text, 30%);
    transform: translateY(-0.3rem);
    box-shadow: 0px 15px 25px 0px variables.$color-dark-xs; //#42445a
    transition: all 0.2s ease;
  }

  &__title {
    color: variables.$color-background;
    margin: 0.5rem 0;
    @include mixins.typography(700, 24px, 28px, 0.5px);
  }

  &__tags {
    display: flex;
    justify-content: flex-end;

    & > *:not(:last-child) {
      margin-right: 0.3rem;
    }

    .tag {
      font-size: smaller;
      padding: 0 0.5rem;
      border-radius: 2rem;
      background: darken(variables.$color-bright, 10%);
      color: variables.$color-light-xs;
    }
  }

  &__price {
    @include mixins.typography(700, 24px, 28px, 0.5px);
  }
}

.discount {
  display: none;

  &_active {
    margin-right: 1rem;
    display: inline-block;
    color: variables.$color-bright;
  }
}

.price {
  &_discounted {
    font-size: smaller;
    opacity: 0.7;
    text-decoration: line-through;
  }
}

.price::after,
.discount::after {
  content: '';
  margin-left: 3px;
  background-image: url('/blood_drop.svg');
  background-size: 14px 24px;
  display: inline-block;
  width: 14px;
  height: 24px;
}
