@import './sass/abstracts/variables';

#app {
  height: 100vh;
  background-color: $color-background;
  background-image: url('./assets/images/wallpaper.jpg');
  background-position: 50% 50%;

  font-family: $font-base;
  color: $color-light-xs;
}
