@import './sass/abstracts/variables';

#app {
  min-height: 100vh;
  background:
    center/cover no-repeat url('./assets/images/wallpaper.jpg'),
    $color-background;

  font-family: $font-base;
  color: $color-light-xs;
}
