/* abstracts */
@import './sass/abstracts/variables';
@import './sass/abstracts/mixins';
@import './sass/abstracts/placeholders';

/* base */
@import './sass/base/typography';
@import './sass/base/normalize';

/* components */
@import './sass/components/buttons';

/* pages */
@import './sass/pages/catalogePage';
@import './sass/pages/login-form';
@import './sass/pages/mainPage';

.main {
  &__container {
    margin: 0 auto;
    padding: 30px;
    max-width: $content-width;

    @include media-tablet {
      padding: 10px;
    }
  }
}
