@import '../../sass/abstracts/variables';

.header {
  font-size: $font-desktop;

  &__container {
    margin: 0 auto;
    padding: 20px 30px;
    max-width: $content-width;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }
}