@import '../../sass/abstracts/variables';

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 1px solid $color-dark-m;
  background-color: $color-logo-bg;

  font-family: $font-logo;

  &__header {
    max-width: 220px;
    max-height: 70px;

    & .logo__img {
      & img {
        width: 58px;
        height: 52px;
      }
    }

    & .logo__wrapper {
      max-width: 150px;
      padding: 0 5px;

      display: flex;
      flex-direction: column;

      & :nth-child(1) {
        font-size: 24px;
      }

      & :nth-child(2) {
        font-size: 52px;
        margin-top: -12px;
        margin-bottom: -6px;
      }
    }
  }
}